.register-car-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 10px;
}

.diferrentClass {
  width: 80px;
  height: 40px !important;
}

.active {
  border: 2px solid #007bff !important ; /* Aktiv bo'lganda chegarasi */
  background-color: #f0f8ff !important;
}
